.container {
  height: 600px;
  padding: 10px;
  background: lightcyan;
  border: 1px solid grey;

  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
  }

  .demo-button {
    background: lightgrey;
    width: 100px;
    height: 50px;
  }

  .demo-button:active {
    transform: scale(0.98);
  }

  .form-error {
    color: red;
  }
}
