<div class="configuration-section">
  <form *ngIf="inputForm; else noInput" [formGroup]="inputForm">
    <div class="title">Configure input: {{getId()}}</div>
    <ng-container *ngIf="hasCommand(); else noCommand">
      <ng-container [ngSwitch]="getCommandType()">
        <span class="clear-input-label" (click)="clearInput()">Clear input</span>
        <demo-action-command-configuration *ngSwitchCase="CommandType.ACTION" [inputForm]="inputForm"></demo-action-command-configuration>
        <demo-modifier-command-configuration *ngSwitchCase="CommandType.MODIFIER" [inputForm]="inputForm"></demo-modifier-command-configuration>
      </ng-container>
    </ng-container>
  </form>
</div>

<ng-template #noInput>
  <div class="title">Select an input to configure</div>
</ng-template>


<ng-template #noCommand>
  <div class="command-option" (click)="addActionCommand()">
    Action
  </div>
  <div class="command-option" (click)="addModifierCommand()">
    Modifier
  </div>
</ng-template>
