<div class="panel">
  <div class="row">
    <demo-display [id]="'21'" [text]="getLabelText('21')"></demo-display>
    <demo-display [id]="'22'" [text]="getLabelText('22')"></demo-display>
    <demo-display [id]="'23'" [text]="getLabelText('23')"></demo-display>
    <demo-display [id]="'24'" [text]="getLabelText('24')"></demo-display>
    <demo-display [id]="'25'" [text]="getLabelText('25')"></demo-display>
    <span class="space"></span>
    <demo-display [id]="'26'" [text]="getLabelText('26')"></demo-display>
    <demo-display [id]="'27'" [text]="getLabelText('27')"></demo-display>
    <demo-display [id]="'28'" [text]="getLabelText('28')"></demo-display>
    <demo-display [id]="'29'" [text]="getLabelText('29')"></demo-display>
    <demo-display [id]="'30'" [text]="getLabelText('30')"></demo-display>
  </div>
  <div class="row">
    <demo-input [input]="getInput('1')" [isSelected]="isSelected('1')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('2')" [isSelected]="isSelected('2')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('3')" [isSelected]="isSelected('3')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('4')" [isSelected]="isSelected('4')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('5')" [isSelected]="isSelected('5')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <span class="space"></span>
    <demo-input [input]="getInput('6')" [isSelected]="isSelected('6')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('7')" [isSelected]="isSelected('7')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('8')" [isSelected]="isSelected('8')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('9')" [isSelected]="isSelected('9')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('10')" [isSelected]="isSelected('10')" (inputClicked)="markSelectedInput($event)"></demo-input>
  </div>
  <div class="row">
    <demo-display [id]="'31'" [text]="getLabelText('31')"></demo-display>
    <demo-display [id]="'32'" [text]="getLabelText('32')"></demo-display>
    <demo-display [id]="'33'" [text]="getLabelText('33')"></demo-display>
    <demo-display [id]="'34'" [text]="getLabelText('34')"></demo-display>
    <demo-display [id]="'35'" [text]="getLabelText('35')"></demo-display>
    <span class="space"></span>
    <demo-display [id]="'36'" [text]="getLabelText('36')"></demo-display>
    <demo-display [id]="'37'" [text]="getLabelText('37')"></demo-display>
    <demo-display [id]="'38'" [text]="getLabelText('38')"></demo-display>
    <demo-display [id]="'39'" [text]="getLabelText('39')"></demo-display>
    <demo-display [id]="'40'" [text]="getLabelText('40')"></demo-display>
  </div>
  <div class="row">
    <demo-input [input]="getInput('11')" [isSelected]="isSelected('11')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('12')" [isSelected]="isSelected('12')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('13')" [isSelected]="isSelected('13')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('14')" [isSelected]="isSelected('14')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('15')" [isSelected]="isSelected('15')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <span class="space"></span>
    <demo-input [input]="getInput('16')" [isSelected]="isSelected('16')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('17')" [isSelected]="isSelected('17')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('18')" [isSelected]="isSelected('18')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('19')" [isSelected]="isSelected('19')" (inputClicked)="markSelectedInput($event)"></demo-input>
    <demo-input [input]="getInput('20')" [isSelected]="isSelected('20')" (inputClicked)="markSelectedInput($event)"></demo-input>
  </div>
</div>
